<header class="w-full bg-gray-800 p-4 flex justify-between items-center">
  <nav class="flex items-center">
    <img class="w-7 h-7" src="https://www.solarwinds.com/-/media/solarwinds/swdcv2/licensed-products/service-desk/integrations/sd-integrations-logo-jira.ashx?rev=701fbaa7f8ac4ae08e0406c8984c43e7&hash=75D4F04DE99B88DE7B2C4193F0616F1F" />
    <div class="text-white text-xs hidden sm:block ml-2">
      <a href="#" class="bg-gray-900 hover:bg-gray-700 p-2 rounded cursor-pointer">Dashboard Rosiers</a>
    </div>
  </nav>
  <div class="w-8 h-8 cursor-pointer">
    <img class="rounded-full " src="">
  </div>
</header>


<main class="flex w-full h-screen">
<aside class="w-80 h-screen bg-gray shadow-md w-fulll hidden sm:block">
  <div class="flex flex-col justify-between h-screen p-4 bg-gray-800">
      <div class="text-sm">
        <div class="bg-gray-900 text-white p-5 rounded cursor-pointer">Dashboard Gestion des Cars</div>
        <div class="bg-gray-900 text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">
          <%= link_to 'Create new user', new_user_path %>
        </div>
        <div class="bg-gray-900 text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">
          <%= link_to 'Ajouter un trajet', new_user_trajet_path(current_user)%>
        </div>
        <div class="bg-gray-700 text-blue-300 p-2 rounded mt-2 cursor-pointer">Ajouter un Car</div>
        <!-- <div class="bg-gray-900 flex justify-between items-center text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">
          <span>Reports</span>
          <span class="w-4 h-4 bg-blue-600 rounded-full text-white text-center font-normal text-xs">5</span>
        </div> -->
        <div class="bg-gray-900 text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">
          <%= link_to 'Inscription', user_inscriptions_path(current_user) %>
        </div>
        <div class="bg-gray-900 text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">Ajouter des dépenses</div>
        <!-- <div class="bg-gray-900 text-white p-2 rounded mt-2 cursor-pointer hover:bg-gray-700 hover:text-blue-300">Repository</div> -->
      </div>

      <div class="flex p-3 text-white bg-red-500 rounded cursor-pointer text-center text-sm">
        <% if @current_user != nil %>
        <button class="rounded inline-flex items-center">
          <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fillRule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clipRule="evenodd" /></svg>
          <a href="<%= logout_path %>", data-method="delete", data-confirm="Are you sure?">
          <span class="font-semibold">Logout</span>
          </a>
        </button>
        <%end%>
      </div>
  </div>
</aside>

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="py-1 bg-blueGray-50 w-full">
  <!-- <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right mt-16">
    <button class="flex justify-center text-2xl bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none ml-96 mb-1 ease-linear transition-all duration-150" type="button">
      <%= link_to 'Faire une Inscription', new_user_inscription_path(current_user)%>
    </button>
  </div> -->
<div class="w-full px-4 mx-auto mt-24">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
    <!-- <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">Liste des Élèves inscrits</h3>
        </div>
        <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
          <button class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">IMPRIMER <i class="fas fa-print"></i></button>
        </div>
      </div>
    </div> -->

    <div class="block w-full overflow-x-auto">
      <!-- <table class="items-center bg-transparent w-full border-collapse ">
        <thead>
          <tr>
            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Prenom
            </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Nom
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Email
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Telephone
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Actions
          </th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                <%= user.prenom %>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                <%= user.nom %>
              </td>
              <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <%= user.telephone %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <a href="<%= user_path(user.id) %>
                ">
                  <i class="far fa-eye text-emerald-500 mr-4"></i> 
                </a>
                <a href="<%= edit_user_path(user.id) %>"
                  >
                    <i class="fas fa-edit text-blue-500 mr-4"></i> 
                </a>

                <a href="user_path(user.id)%>", data-method="delete" data-confirm="Are you sure?">
                    <i class="fas fa-trash-alt text-red-500"></i> 
                </a>            
              </td>
          </tr>
          <% end %>
          
        </tbody>

      </table> -->
    </div>
  </div>
</div>

</section>

</main>