
<div style="display: flex; flex-wrap:wrap; align-items:start; justify-content:center">
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">
    <button style=" background:#FF5154; padding:7px 35px; outline:none; border:none">
    <%= link_to 'Back', :back, style:"text-decoration:none;color:#fff" %>
    <%# <%= link_to 'Back', users_path, style:"text-decoration:none;color:#fff" %>
    </button>
  </p>
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center; text-transform:uppercase"> <b>Your information</b> <p>
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Prenom: <%= @user.prenom %> </p>
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Nom: <%= @user.nom %> </p>
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Email: <%= @user.email %> </p>
  <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Contact: <%= @user.telephone %> </p>
</div>