<style>
  select{
    width:50%;
    padding: 0.5rem 0;
    outline:none;
  }
</style>
<div class="w-full h-auto p-5 justify-center items-center overflow-hidden  px-14 bg-white shadow overflow-x-hidden">
  <%= form_with model: [current_user, depense] do |form| %>
  <div class="grid grid-cols-1 table-column space-y-2 ">
  <div class="flex justify-center mt-2 field" >
    <!-- <%= form.label :immatriculation, "immatriculation" %> -->
    <%= form.text_field :nat_depense, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'nature depense ' %>
    <% if depense.errors[:nat_depense] %>
      <span style='color: red'><%= depense.errors[:nat_depense][0] %></span>
    <% end %>
  </div>
  <div class="flex justify-center mt-2 field" >
    <!-- <%= form.label :immatriculation, "immatriculation" %> -->
    <%= form.text_field :description, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'une description du dépense ' %>
    <% if depense.errors[:description] %>
      <span style='color: red'><%= depense.errors[:description][0] %></span>
    <% end %>
  </div>
  <div class="flex justify-center mt-2 field" >
    <!-- <%= form.label :immatriculation, "immatriculation" %> -->
    <%= form.number_field :montant, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'montant ex: 10000fcfa ' %>
    <% if depense.errors[:montant] %>
      <span style='color: red'><%= depense.errors[:montant][0] %></span>
    <% end %>
  </div>
  <div class="flex justify-center mt-2 field" >
    <!-- <%= form.label :immatriculation, "immatriculation" %> -->
    <%= form.date_field :date_depense, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'jj/mm/aaaa' %>
    <% if depense.errors[:date_depense] %>
      <span style='color: red'><%= depense.errors[:date_depense][0] %></span>
    <% end %>
  </div>
    <div class="flex justify-center field border-rounded">
      <!-- <%= form.label :couleur,"Couleur" %> -->
      <%= form.select :car_id, options_from_collection_for_select(current_user.cars, "id", "immatriculation"),style:'width:100%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:5px' %>
      <% if depense.errors[:car] %>
        <span style='color: red'><%= depense.errors[:car][0] %></span>
      <% end %>
    </div>
    <div class="flex justify-center">

      <% if depense.persisted? %>
        <%= form.submit 'Modifié', style:"text-decoration:none;color:#fff;width:50%; padding:10px 0px; margin-top:2%; background:#4B6DE7; border:none;" %>
      <%else %>
        <%= form.submit 'Ajouter', style:"width:50%; margin:4% 0; padding:12px 0; border:none; color:#FFFFFF;border-radius:3px;", class:'bg-indigo-500' %>
      <%end%>
    </div>
  <% end %>

  </div>
</div>