<style>
  select{
    width:100%;
    padding: 0.5rem 0;
    outline:none;
  }
</style>
<%= form_with model:[current_user, inscription] do |form| %>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :nom, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'nom' %>
    <% if inscription.errors[:nom] %>
      <span style='color: red'><%= inscription.errors[:nom][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :prenom, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'prenom' %>
    <% if inscription.errors[:prenom] %>
      <span style='color: red'><%= inscription.errors[:prenom][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :classe, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'5e3' %>
    <% if inscription.errors[:classe] %>
      <span style='color: red'><%= inscription.errors[:classe][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :matricule, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'10036513M' %>
    <% if inscription.errors[:matricule] %>
      <span style='color: red'><%= inscription.errors[:matricule][0] %></span>
    <% end %>
  </div>
  
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :num_parent, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'+225 0707157601' %>
    <% if inscription.errors[:num_parent] %>
      <span style='color: red'><%= inscription.errors[:num_parent][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :montant, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'15000fcfa' %>
    <% if inscription.errors[:montant] %>
      <span style='color: red'><%= inscription.errors[:montant][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.text_field :mois, style:'width:95%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px', placeholder:'Decembre' %>
    <% if inscription.errors[:mois] %>
      <span style='color: red'><%= inscription.errors[:mois][0] %></span>
    <% end %>
  </div>
  <div style='width:48%; display:inline-block;margin:2% 0;'>
    <%= form.select :destination, ['yopougon maroc', 'bingerville', 'Riviera2'], class:'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'%>
    <% if inscription.errors[:destination] %>
      <span style='color: red'><%= inscription.errors[:destination][0] %></span>
    <% end %>
  </div>
  <% if inscription.persisted? %>
    <%= form.submit 'Modifié', style:"text-decoration:none;color:#fff;width:40%; padding:10px 0px; margin-top:2%;  border:none;", class:'bg-indigo-600' %>
  <%else %>
    <%= form.submit 'Inscrire', style:"width:50%; margin:4% 0; padding:12px 0; border:none; color:#FFFFFF;border-radius:3px;", class:'bg-indigo-600' %>
  <%end%>
<% end %>