
<%#= render partial:'header', locals:{inscription: @inscription}%>

<main class="flex w-full h-screen">
  <%#= render partial:'aside', locals:{inscription: @inscription}%>
<section class="py-1 bg-blueGray-50 w-full">
  <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right mt-16">
    <button class="flex justify-center text-2xl bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none ml-96 mb-1 ease-linear transition-all duration-150" type="button">
      <%= link_to 'Faire une Inscription', new_inscription_path%>
    </button>
  </div>
<div class="w-full px-4 mx-auto mt-24">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">Liste des Élèves inscrits</h3>
        </div>
      </div>
    </div>

    <div class="block w-full overflow-x-auto">
      <table class="items-center bg-transparent w-full border-collapse ">
        <thead>
          <tr>
            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Prenom
            </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Nom
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Classe
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Matricule
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Numero Parent
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Montant
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Mois
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            QrCode
          </th>
          <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Actions
          </th>
          </tr>
        </thead>

        <tbody>
          <% @inscriptions.each do |inscription| %>
            <tr>
              <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                <%= inscription.prenom %>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                <%= inscription.nom %>
              </td>
              <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <%= inscription.classe %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <%= inscription.matricule %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <%= inscription.num_parent %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <%= inscription.montant %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <%= inscription.mois %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <%= inscription.qr_code.attached? %>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- <i class="fas fa-arrow-up text-emerald-500 mr-4"></i> -->
                <a href="<%= inscription_path(inscription.id) %>
                ">
                  <i class="far fa-eye text-emerald-500 mr-4"></i> 
                </a>
                <a href="<%#= edit_user_inscription_path(@current_user, inscription) %>"
                  >
                    <i class="fas fa-edit text-blue-500 mr-4"></i> 
                </a>

                <a href="<%= inscription_path(inscription.id)%>", data-method="delete" data-confirm="Are you sure?">
                    <i class="fas fa-trash-alt text-red-500"></i> 
                </a>            
              </td>
          </tr>
          <% end %>
          
        </tbody>

      </table>
    </div>
  </div>
</div>

</section>

</main>