
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <div style="width: 100px; height: 100px; overflow:auto; padding:1px ;display:flex; justify-content:center; align-items:center ">
                <% if @inscription.qr_code.attached? %>
                  <%= image_tag (@inscription.qr_code ), style:'width: 100%; height: 100%' %>
                <%end%>
              </div>
              <%#= image_tag "logo.png", class: "w-32 h-16" %>
            </td>

            <td>
              Inscription #: <b><%= @inscription.id[0,8] %></b>
              <br>
              Date inscritpion: <b><%= @inscription.created_at.strftime('%d/%m/%Y') %></b>
              <br>
              Fin: <b><%= (@inscription.created_at + 1.month).strftime('%d/%m/%Y') %></b>
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>Prenom : <%= @inscription.prenom %></b><br>
              <b> Nom :</b> <%= @inscription.nom %><br>
              <b>Matricule :</b><%= @inscription.matricule %>
            </td>

            <td>
              <b>Classe : <%= @inscription.classe %></b><br>
              <b>Numéro du parent :</b>
              <i class="fas fa-phone"></i> <%= @inscription.num_parent %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Méthode de paiement</td>
      <td colspan="2"></td>
      <td class="right">Cache</td>
    </tr>

    <tr class="details">
      <td>Paiement physique</td>
      <td colspan="2"></td>
      <td class="right">1000</td>
    </tr>

    <tr class="heading">
      <td>information Inscription</td>
      <td class="right">Montant</td>
      <td></td>
      <td>Timbre</td>
    </tr>
    <%# @inscription.each do |inscription| %>
      <tr class="item">
          <td>
              <b>Mois :</b> <%= @inscription.mois %><br>
              <b> Destination :<b> <%= @inscription.destination %>
          </td>

          <td class="right">
              <%=@inscription.montant%>
          </td>
          <td>
              <%#= @inscription.montant %>
          </td>
          <td>
              <%= (@inscription.montant) -(@inscription.montant - 100) %> FCFA
          </td>
      </tr>
    <%# end %>

    <tr>
      <td colspan="4"></td>
    </tr>

    <tr class="heading">
      <td colspan="2"></td>
      <td><b>TOTAL:</b></td>
      <td>
        <b><%= @inscription.montant + 100 %></b>
      </td>
    </tr>
  </table>
</div>

