<%= render partial:'header', locals:{inscription: @inscription}%>
<main class="flex w-full h-screen">
  <%= render partial:'aside', locals:{inscription: @inscription}%>
  <section class="py-1 bg-blueGray-50 w-full ">

    <style>
      .min-h{
        min-height:35rem;
      }
      .h-36r{
        height:36rem
      }
      </style>

    <div class="flex justify-center min-h bg-gray-50 mb-2">
      <div class="w-3/6 flex px-5">
        <div class="w-full ">
          <div class="w-full py-3 flex justify-between items-end">
            <h3 class="text-base font-semibold text-gray-600">
              FICHE D'INSCRIPTION
            </h3>
            <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
              <button class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">IMPRIMER <i class="fas fa-print"></i></button>
            </div>
          </div>
          <div class="w-full h-auto p-5 justify-center items-center overflow-hidden  px-14 bg-white shadow overflow-x-hidden">
            <div class="text-left flex w-full justify-between pb-5 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Référence :</h3>
              <div class="text-left font-medium text-black text-xl  w-2/6">
                <%= @inscription.id[0,8] %>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-5 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Date d'inscription:</h3>
              <div class="text-left font-medium text-black text-xl  w-2/6">
                <%= @inscription.created_at&.strftime(" %D") %>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Prénom:</h3>
              <div class="text-left font-medium text-black text-xl  w-2/6">
                <%= @inscription.prenom %>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Nom:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.nom %>
              </div>
            </div> 
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Classe:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.classe %>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Matricule:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.matricule %>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Numéro Parent:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.num_parent%>
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Montant:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.montant %> 
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Mois:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.mois %> 
              </div>
            </div>
            <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
            
              <h3 class="text-base font-semibold text-gray-600 w-3/6">Destination:</h3>
              <div class="text-left font-medium text-black text-xl w-2/6">
                <%= @inscription.destination %> 
              </div>
            </div>
            
          </div>
    
        </div>
      </div>
    
    </div>

  </section>

</main>

