<style>
  select{
    width:50%;
    padding: 0.5rem 0;
    outline:none;
  }
</style>
<%= form_with model: [current_user, chauffeur, car] do |form| %>
<div class="grid grid-cols-1 table-column space-y-2 ">
    <div class="flex justify-center mt-2 field" >
      <!-- <%= form.label :immatriculation, "immatriculation" %> -->
      <%= form.text_field :nom, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'nom chauffeur ' %>
      <% if car.errors[:nom] %>
        <span style='color: red'><%= car.errors[:nom][0] %></span>
      <% end %>
    </div>
    <div class="flex justify-center mt-2 field" >
      <!-- <%= form.label :immatriculation, "immatriculation" %> -->
      <%= form.text_field :prenom, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'prenom du chauffeur ' %>
      <% if car.errors[:prenom] %>
        <span style='color: red'><%= car.errors[:prenom][0] %></span>
      <% end %>
    </div>
    <div class="flex justify-center mt-2 field" >
      <!-- <%= form.label :immatriculation, "immatriculation" %> -->
      <%= form.number_field :numero, style:'width:50%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:3px;', placeholder:'numero téléphone'%>
      <% if car.errors[:numero] %>
        <span style='color: red'><%= car.errors[:numero][0] %></span>
      <% end %>
    </div>
    <div class="flex justify-center field border-rounded">
      <!-- <%= form.label :couleur,"Couleur" %> -->
      <%= form.select :car_id, options_from_collection_for_select(current_user.cars, "id", "immatriculation"),style:'width:100%;padding:12px 5px;border:none;background:#f5f5f5;border-radius:5px' %>
      <% if car.errors[:car] %>
        <span style='color: red'><%= car.errors[:car][0] %></span>
      <% end %>
    </div>
    <div class="flex justify-center">

      <% if car.persisted? %>
        <%= form.submit 'Modifié', style:"text-decoration:none;color:#fff;width:50%; padding:10px 0px; margin-top:2%; background:#4B6DE7; border:none;" %>
      <%else %>
        <%= form.submit 'Ajouter', style:"width:50%; margin:4% 0; padding:12px 0; border:none; background:#A45328; color:#FFFFFF;border-radius:3px;" %>
      <%end%>
    </div>
  <% end %>

</div>