<%= render partial:'header', locals:{chauffeur: @chauffeurs}%>
<main class="flex w-full h-screen">
  <%= render partial:'aside', locals:{chauffeur: @chauffeurs}%>
  <section class="py-1 bg-blueGray-50 w-full ">
    <div class="w-full px-4 mx-auto mt-24 justify-center">
      <div style='width:85%; height:90%; text-align:center'>
        <p style="width:100%; display:flex; justify-content:center; font-size:3rem;font-weight:bold" ">
          Informations sur le chauffeur
        </p>
        <p style="width:100%; display:flex; justify-content:center; font-size:1rem;">
          <!-- Informations sur l'élève  -->
        </p>
      </div>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-1/2 mb-6 shadow-lg rounded mr-52" style="width:100%; display:flex; justify-content:center;">
        <div class="flex justify-center flex-wrap">
            <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Nom: <%= @chauffeur.nom %> </p>
            <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Prénom: <%= @chauffeur.prenom %> </p>
            <p style="width:100%; margin-bottom:5px; display:flex; justify-content:center">Numéro: <%= @chauffeur.numero %> </p>
        </div>
        
      </div>
    </div>

  </section>

</main>

